body{
  font-family: 'Montserrat-light', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: 'Montserrat',sans-serif;
  font-size:3rem;
  line-height: 1.5;
  font-weight:bold;
}
h3{
  font-family: 'Montserrat',sans-serif;
  font-size:1.5rem;
  font-weight: normal;
}
p{
    font-family:"Ubuntu";
    color:#8f8f8f;
}
#title{
  background-color: #ff4c68;
  color:#fff;
}
.container-fluid{
  padding:4% 15%;
}

.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family:"Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family:'Montserrat-light', sans-serif;
  font-size: 1.2rem;
}
.title-image{
  width:60%;
  float: right;
  transform:rotate(25deg);
}
.image{
  text-align:center;
}
